services:
  db:
    image: postgres:18-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: databaseWDCM
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: manager_app
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/databaseWDCM
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"

      SERVER_SERVERLET_SESSION_COOKIE_HTTP_ONLY: "true"
      SERVER_SERVERLET_SESSION_COOKIE_SECURE: "true"
      SERVER_SERVERLET_SESSION_TIMEOUT: 15m

volumes:
  db_data: