nav{
    background-color: rgb(82, 82, 82);
    height: 60px;
    display: flex; /* enable alignment */
    justify-content: center; /* horizontal alignment */
    align-items: center; /* vertical alignment */
}

nav a{
    display: flex; /* enable alignment */
    justify-content: center; /* horizontal alignment */
    align-items: center; /* vertical alignment */
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}